 body {
    background-color: #FFDDD2;
  }

  h1 {
    color: #66BFBF;
  }

  h3 {
    color: #DD5353;
  }

  hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
  }
